ul.playlist img.ui-li-thumb {
	left: 10px;
	top: 10px;
	z-index: 10;
}

ul.playlist .ui-li .ui-btn-inner a.ui-link-inherit {
	padding-right: 0px;
}

ul.playlist .ui-btn-icon-right .ui-icon {
	left: 42px; /* 10px padding + (80px img width / 2) + (16px icon width / 2) */
	z-index: 20;
}

#main .ui-header .ui-btn, #playlists-page .ui-header .ui-btn {
	display: none !important;
}

#main .ui-header .popover-btn {
	display: block !important;
}

.ui-mobile-viewport.panel-popover {
	width: 50% !important;
}

.ui-mobile-viewport.ui-panel-left {
	width: 33% !important;
}

#menu div.playlist .ui-header .ui-title {
	margin: .6em 8px .8em 108px;
}

.splitview.min-width-480px .ui-content {
	top: 42px;
}
.splitview.min-width-480px .ui-header {
	height: 40px;
}

.content-video {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0;
}

.video-wrap {
	height: 300px;
	position: relative;
}

.loading {
	position: absolute;
	top: 75%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
}

video, .error {
	width: 100%;
	height: 100%;
	/* Video element has a phantom bottom border that can't be removed unless
	   you set display: block. See:
	   http://css-tricks.com/forums/discussion/6346/solved-unusual-bottom-margin-on-html5-video-element/p1 */
	display: block;
	background-color: #000;
	padding: 0;
	margin: 0;
}

.error {
	color: #ddd;
	text-shadow: none;
	display: table; /* Vertically center the h2 */
}

.error .details {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	opacity: 1.0;
	-webkit-transition: opacity 0.3s ease-in;
}

.error img {
	display: block;
	margin: 0 auto 0.5em auto;
}

.error h2 {
	margin-bottom: 0.2em;
}

.error h2 + p {
	margin-top: 0;
}

.below-video {
	margin: 15px;
}

.below-video h1 {
	/* Hide h1 below video, unless it's inside .no-sidebar */
	display: none;
}

html.no-sidebar .below-video h1 {
	display: block;
	font-size: 1.2em;
	margin: 0.2em 0;
}

.below-video h1 + p {
	margin-top: 0;
}

.actions {
	float: right;
	margin-top: -0.5em;
	margin-right: -5px;
}

.log {
	position: absolute;
	bottom: 0px;
	display: block;
	left: 0;
	right: 0;
	height: 120px;
	overflow: scroll;
}

/* JQuery Mobile Khan Skin
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-k {
	border: 1px solid 		#567d0a;
	background: 			#608d0c;
	color: 					#fff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #415e08;
	background-image: -moz-linear-gradient(top, 
							#78a90c, 
							#608d0c);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#78a90c),
		color-stop(1, 		#608d0c));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#78a90c', EndColorStr='#608d0c')";
}
.ui-bar-k,
.ui-bar-k input,
.ui-bar-k select,
.ui-bar-k textarea,
.ui-bar-k button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-k .ui-link-inherit {
	color: 					#fff;
}
.ui-bar-k .ui-link {
	color: 					#7cc4e7;
	font-weight: bold;
}

.ui-body-k {
	border: 1px solid 		#B3B3B3;
	color: 					#333333;
	text-shadow: 0 1px 0 	#fff;
	background: 			#f0f0f0;
	background-image: -moz-linear-gradient(top, 
							#eeeeee, 
							#dddddd);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#eeeeee),
		color-stop(1, 		#dddddd));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#dddddd')";
}
.ui-body-k,
.ui-body-k input,
.ui-body-k select,
.ui-body-k textarea,
.ui-body-k button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-body-k .ui-link-inherit {
	color: 					#333333;
}
.ui-body-k .ui-link {
	color: 					#293218;
	font-weight: bold;
}
.ui-btn-up-k {
	border: 1px solid 		#415e08;
	color: 					#fff;
	text-shadow: 0 -1px 0 	#293b05;
	background: 			#415e08;
	background-image: -moz-linear-gradient(top, 
							#78a90c, 
							#608d0c);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#78a90c),
		color-stop(1, 		#608d0c));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#78a90c', EndColorStr='#608d0c')";
}
.ui-btn-up-k a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-hover-k {
	border: 1px solid 		#315e08;
	color: 					#fff;
	text-shadow: 0 -1px 0 	#293b05;
	background: 			#415e08;
	background-image: -moz-linear-gradient(top, 
							#80BC10, 
							#70A40E);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#80BC10),
		color-stop(1, 		#70A40E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#80BC10', EndColorStr='#70A40E')";
}
.ui-btn-hover-k a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-down-k {
	border: 1px solid 		#315e08;
	color: 					#fff;
	text-shadow: 0 -1px 0 	#293b05;
	background: 			#415e08;
	background-image: -moz-linear-gradient(top, 
							#608d0c, 
							#78a90c);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#608d0c),
		color-stop(1, 		#78a90c));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#608d0c', EndColorStr='#78a90c')";
}
.ui-btn-down-k a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-up-k,
.ui-btn-hover-k,
.ui-btn-down-k {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

.ui-bar-k .ui-shadow {
	-moz-box-shadow: 0 1px 0 rgba(255,255,255, .3);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, .3);
	box-shadow: 0 1px 0 rgba(255,255,255, .3);
}

/* Fix button padding with respect to icons. Default doesn't center properly. */
.ui-btn-inner {
	padding-left: 12px; /* Down from 25px which is pretty big */
	padding-right: 12px;
}

.ui-btn-icon-left .ui-btn-inner {
	padding-left: 36px; /* 18px icon width, 12px normal border, 6px padding between icon and text */
}

.ui-btn-icon-left .ui-icon {
	left: 12px;
}

.ui-btn-icon-right .ui-btn-inner {
	padding-right: 36px;
}

.ui-btn-icon-right .ui-icon {
	right: 12px;
}

/* jQuery Mobile Split View Customizations
------------------------------------------------------------------------------------------------------------*/

.panel-popover {
	border: 2px solid #415E08;
}
.panel-popover > .popover_triangle {
	border-bottom-color: #415E08;
}

html.no-sidebar div.ui-header {
	display: none;
}

html.no-sidebar.ui-mobile .ui-body-k {
	height: auto;
}

/* Style customizations for no-sidebar
------------------------------------------------------------------------------------------------------------*/

html.no-sidebar .ui-body-k {
	background-image: none;
	background-color: #e3e3e3; /* Solid bgcolor so we can match background in hosting view, so rotations don't look crappy */
}

html.no-sidebar body {
	/* If we don't set the body's background color to the same as .ui-body-k,
	   an artifact (with body's color) appears when rotating the device. */
	background-color: #e3e3e3;
}

* {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.ui-btn {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ui-icon-khan-subtitles {
    background-image: url(./images/subtitles.png);
}

.ui-icon-khan-download {
    background-image: url(./images/download.png);
}

.ui-icon-khan-share {
    background-image: url(./images/share.png);
}

.energy-points-badge {
    background: #0075b1;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    padding: 7px 8px 8px;
    margin-right: 8px;
    color: white;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
