html, body {
	overflow: hidden;
}

ul.playlist img.ui-li-thumb {
	left: 10px;
	top: 10px;
	z-index: 10;
}

ul.playlist .ui-li .ui-btn-inner a.ui-link-inherit {
	padding-right: 0px;
}

ul.playlist .ui-btn-icon-right .ui-icon {
	left: 42px; /* 10px padding + (80px img width / 2) + (16px icon width / 2) */
	z-index: 20;
}

#main .ui-header .ui-btn, #playlists-page .ui-header .ui-btn {
	display: none !important;
}

#main .ui-header .popover-btn {
	display: block !important;
}

.ui-mobile-viewport.panel-popover {
	width: 50% !important;
}

.ui-mobile-viewport.ui-panel-left {
	width: 33% !important;
}

#menu div.playlist .ui-header .ui-title {
	margin: .6em 8px .8em 108px;
}

.splitview.min-width-480px .ui-content {
	top: 42px;
}
.splitview.min-width-480px .ui-header {
	height: 40px;
}

.content-video {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0;
}

.video-wrap {
	height: 300px;
	position: relative;
}

.loading {
	position: absolute;
	top: 75%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
}

video, .overlay {
	width: 100%;
	height: 100%;
	/* Video element has a phantom bottom border that can't be removed unless
	   you set display: block. See:
	   http://css-tricks.com/forums/discussion/6346/solved-unusual-bottom-margin-on-html5-video-element/p1 */
	display: block;
	background-color: #000;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}

video {
	-webkit-transition: opacity 2.0s ease-in;
	z-index: 20;
}

.overlay {
	color: #ddd;
	text-shadow: none;
	display: table; /* Vertically center the h2 */
	z-index: 30;
}

.overlay .details {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	opacity: 1.0;
	-webkit-transition: opacity 0.3s ease-in;
}

.overlay img {
	display: block;
	margin: 0 auto 0.5em auto;
}

.overlay h2 {
	margin-bottom: 0.2em;
}

.overlay h2 + p {
	margin-top: 0;
}

.overlay.replay {
	background: rgba(0, 0, 0, 0.3);
}

.overlay.underlay {
	z-index: 10;
	background: #000
	position: absolute;
	top: 0px;
	left: 0px;
}

.below-video {
	margin: 15px;
}

.below-video h1 {
	/* Hide h1 below video, unless it's inside .no-sidebar */
	display: none;
}

html.no-sidebar .below-video .subtitles-area {
    position: relative;
}
.subtitles-fade.top, .subtitles-fade.bottom {
    background: transparent url(../img/caption-fade.png) repeat-x;
    height: 20px;
    position: absolute;
    left: 0;
    right: 15px;
    z-index: 10;
}
.subtitles-fade.top {
    top: -1px;
}
.subtitles-fade.bottom {
    bottom: -1px;
    -webkit-transform: rotate(180deg);
}
html.no-sidebar .below-video .subtitles .subtitles-area {
    padding: 8px;
}
html.no-sidebar .below-video .subtitles {
	height: 300px;
	padding: 0;
	overflow-y: auto;
	display: none;
	position: relative;
}
html.no-sidebar .below-video .subtitles li:first-child {
    margin-top: 15px;
}
html.no-sidebar .below-video .subtitles li:last-child {
    margin-bottom: 18px;
}

html.no-sidebar .below-video .subtitles li {
	list-style: none;
	padding: 3px;
	border: 1px solid transparent;
	overflow: hidden;
}

html.no-sidebar .below-video .subtitles li.active {
	background: #EEE;
	border: 1px solid #CCC;
	border-radius: 5px;
}

html.no-sidebar .below-video .subtitles li span.time {
	color: #777;
	margin-right: 10px;
	display: block;
	float: left;
}

html.no-sidebar .below-video .subtitles li a {
	color: #000;
	text-decoration: none;
	display: block;
}

html.no-sidebar .below-video .subtitles-loading, html.no-sidebar .below-video .subtitles-error {
	display: none;
	margin: 0 auto;
	width: 300px;
	background: #AAA;
	border-radius: 5px;
	padding: 5px;
	color: #FFF;
	text-align: center;
	-webkit-transition: opacity 0.3s ease-in;
	text-shadow: none;
	z-index: 11;
	position: relative;
}

html.no-sidebar .below-video .title-and-points {
    display: block;
    position: relative;
    top: -6px;
}

html.no-sidebar .below-video .title-and-points .energy-points-badge {
    float: left;
	display: none;
}
    
html.no-sidebar .below-video .title {
    float: left;
	text-overflow: ellipsis;
	max-width: 350px;
	overflow: hidden;
	font-size: 1em;
	padding-top: .2em;
}
html.no-sidebar .below-video h1 {
	display: inline;
	font-size: 1.2em;
    white-space: nowrap;
}

.below-video h1 + p {
	margin-top: 1.2em;
}

.actions {
	float: right;
	margin-top: -0.5em;
	margin-right: -5px;
	position: relative;
	z-index: 2;
}

/* JQuery Mobile Khan Skin
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-k {
	border: 1px solid 		#567d0a;
	background: 			#608d0c;
	color: 					#fff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #415e08;
	background-image: -moz-linear-gradient(top, 
							#78a90c, 
							#608d0c);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#78a90c),
		color-stop(1, 		#608d0c));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#78a90c', EndColorStr='#608d0c')";
}
.ui-bar-k,
.ui-bar-k input,
.ui-bar-k select,
.ui-bar-k textarea,
.ui-bar-k button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-k .ui-link-inherit {
	color: 					#fff;
}
.ui-bar-k .ui-link {
	color: 					#7cc4e7;
	font-weight: bold;
}

.ui-body-k {
	border: 1px solid 		#B3B3B3;
	color: 					#333333;
	text-shadow: 0 1px 0 	#fff;
	background: 			#fefffc;
}
.ui-body-k,
.ui-body-k input,
.ui-body-k select,
.ui-body-k textarea,
.ui-body-k button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-body-k .ui-link-inherit {
	color: 					#333333;
}
.ui-body-k .ui-link {
	color: 					#293218;
	font-weight: bold;
}
.ui-btn-up-k {
	border: 1px solid 		#415e08;
	color: 					#fff;
	text-shadow: 0 -1px 0 	#293b05;
	background: 			#415e08;
	background-image: -moz-linear-gradient(top, 
							#8aac57, 
							#5c8b14);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#8aac57),
		color-stop(1, 		#5c8b14));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#8aac57', EndColorStr='#5c8b14')";
}
.ui-btn-up-k a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-hover-k {
	border: 1px solid 		#315e08;
	color: 					#fff;
	text-shadow: 0 -1px 0 	#293b05;
	background: 			#415e08;
	background-image: -moz-linear-gradient(top, 
							#80BC10, 
							#70A40E);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#80BC10),
		color-stop(1, 		#70A40E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#80BC10', EndColorStr='#70A40E')";
}
.ui-btn-hover-k a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-down-k {
	border: 1px solid 		#315e08;
	color: 					#fff;
	text-shadow: 0 -1px 0 	#293b05;
	background: 			#415e08;
	background-image: -moz-linear-gradient(top, 
							#5c8b14, 
							#8aac57);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#5c8b14),
		color-stop(1, 		#8aac57));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c8b14', EndColorStr='#8aac57')";
}
.ui-btn-down-k a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-up-k,
.ui-btn-hover-k,
.ui-btn-down-k {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

.ui-bar-k .ui-shadow {
	-moz-box-shadow: 0 1px 0 rgba(255,255,255, .3);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, .3);
	box-shadow: 0 1px 0 rgba(255,255,255, .3);
}

/* Fix button padding with respect to icons. Default doesn't center properly. */
.ui-btn-inner {
	padding: 6px 12px 7px; /* Down from 25px which is pretty big */
}

.ui-btn-icon-left .ui-btn-inner {
	padding-left: 36px; /* 18px icon width, 12px normal border, 6px padding between icon and text */
}

.ui-btn-icon-left .ui-icon {
	left: 12px;
}

.ui-btn-icon-right .ui-btn-inner {
	padding-right: 36px;
}

.ui-btn-icon-right .ui-icon {
	right: 12px;
}

.below-video .ui-btn-inner {
	font-size: .8em;
	font-weight: bold;
}

/* jQuery Mobile Split View Customizations
------------------------------------------------------------------------------------------------------------*/

.panel-popover {
	border: 2px solid #415E08;
}
.panel-popover > .popover_triangle {
	border-bottom-color: #415E08;
}

html.no-sidebar div.ui-header {
	display: none;
}

html.no-sidebar.ui-mobile .ui-body-k {
	height: auto;
}

/* Style customizations for no-sidebar
------------------------------------------------------------------------------------------------------------*/

html.no-sidebar .ui-body-k, html.no-sidebar .ui-body-c {
	background-image: none;
	background-color: #fefffc; /* Solid bgcolor so we can match background in hosting view, so rotations don't look crappy */
}

html.no-sidebar body {
	/* If we don't set the body's background color to the same as .ui-body-k,
	   an artifact (with body's color) appears when rotating the device. */
	background-color: #fefffc;
	 /* Need explicit font size to size subtitles appropriately. Need 
	    !important to override jQuery Mobile's separate text size for 
	    landscape/portrait. */
	font-size: 1.0em !important;
}

* {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.ui-btn {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ui-icon-khan-subtitles {
    background-image: url(../img/subtitles.png);
}

.ui-icon-khan-download {
    background-image: url(../img/download.png);
}

.ui-icon-khan-share {
    background-image: url(../img/share.png);
}

.video-button-group { display: inline; }

.energy-points-badge {
    background: #005987;
    display: inline-block;
    line-height: 1.6em;
    text-align: center;
    padding: .4em .8em .5em;
    margin: 0 0 0 .8em;
    color: white;
    font-size: .8em;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
    position: relative;
    top: -.2em;
}

html.offline .energy-points-badge {
	opacity: 0.3;
}

/* Override jQuery's default rounding classes
--------------------------------------------------------------------------------------------------------------------------*/
/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: 		5px;
	-webkit-border-top-left-radius: 	5px;
	border-top-left-radius: 			5px;
}
.ui-corner-tr {
	-moz-border-radius-topright: 		5px;
	-webkit-border-top-right-radius: 	5px;
	border-top-right-radius: 			5px;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: 		5px;
	-webkit-border-bottom-left-radius: 	5px;
	border-bottom-left-radius: 			5px;
}
.ui-corner-br {
	-moz-border-radius-bottomright: 	5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 		5px;
}
.ui-corner-top {
	-moz-border-radius-topleft: 		5px;
	-webkit-border-top-left-radius: 	5px;
	border-top-left-radius: 			5px;
	-moz-border-radius-topright: 		5px;
	-webkit-border-top-right-radius: 	5px;
	border-top-right-radius: 			5px;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: 		5px;
	-webkit-border-bottom-left-radius: 	5px;
	border-bottom-left-radius: 			5px;
	-moz-border-radius-bottomright: 	5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 		5px;
	}
.ui-corner-right {
	-moz-border-radius-topright: 		5px;
	-webkit-border-top-right-radius: 	5px;
	border-top-right-radius: 			5px;
	-moz-border-radius-bottomright: 	5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 		5px;
}
.ui-corner-left {
	-moz-border-radius-topleft: 		5px;
	-webkit-border-top-left-radius: 	5px;
	border-top-left-radius: 			5px;
	-moz-border-radius-bottomleft: 		5px;
	-webkit-border-bottom-left-radius: 	5px;
	border-bottom-left-radius: 			5px;
}
.ui-corner-all {
	-moz-border-radius: 				5px;
	-webkit-border-radius: 				5px;
	border-radius: 						5px;
}
