<!DOCTYPE html> 
<html class="lite"> 
<head>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no">
	<title>Khan Academy</title>
	<link rel="stylesheet" href="exercises/css/khan-site.css" />
	<link rel="stylesheet" href="exercises/css/khan-exercise.css" />
	<link rel="stylesheet" href="css/jquery.mobile-1.0b3.css" />
	<link rel="stylesheet" href="css/jquery.mobile.scrollview.css" />
	<link rel="stylesheet" href="css/jquery.mobile.grids.collapsible.css" />
	<link rel="stylesheet" href="css/khan.css" />
	
	<script type="text/javascript" src="js/jquery-1.6.3.js"></script>
	
	<!-- Load jQuery Mobile itself -->
	<script type="text/javascript" src="js/jquery.mobile-1.0b3.js"></script>
	
	<!-- Needed for browsers that don't support fixed positioning. -->
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	
	<!-- Main application logic -->
	<script type="text/javascript" src="js/oauth.js"></script>
	<script type="text/javascript" src="js/tmpl.js"></script>
	<script type="text/javascript" src="js/videotrack.js"></script>
	<script type="text/javascript" src="js/khan.js"></script>
	<script type="text/javascript" src="js/test.js"></script>
	
	<script>
		// TODO: Will need to force khan-exercise to update exerciseName dynamically
		var userExercise = { exercise_model: { sha1: "addition_1" }, tablet: true, exercise: "addition_1" };
		var apiServer = "http://www.khanacademy.org";
		var urlBaseOverride = "exercises/";
	</script>
	<script type="text/javascript" src="exercises/khan-exercise.js"></script>
</head> 
<body>
	<!-- The main panel, will show videos and exercises. -->
	<div data-role="panel" data-id="main" id="main" data-hash="false">
		<div data-role="page" id="home">
			<div data-role="header" data-theme="k">
				<h1>Khan Academy</h1>
			</div>

			<div data-role="content" class="content-video">
				<div class="video-wrap">
					<img src="img/loading.gif" class="loading" />
					<div class="underlay"></div>
					<video x-webkit-airplay="allow" controls></video>
					<div class="error overlay">
						<div class="details">
							<img src="img/error.png" />
							<h2>Network Error</h2>
							<p>Try downloading videos for offline viewing.</p>
							<a data-role="button" data-inline="true" data-theme="a" data-icon="refresh" class="retry-button">Retry</a>
						</div>
					</div>
					<div class="replay overlay">
						<div class="details">
							<a data-role="button" data-inline="true" data-theme="a" data-icon="refresh" class="replay-button">Replay</a>
							<a data-role="button" data-inline="true" data-theme="a" data-icon="arrow-r" class="next-button">Next Video</a>
						</div>
					</div>
				</div>
				<div class="below-video video-below">
					<div class="actions">
					    <div data-role="controlgroup" data-type="horizontal" class="video-button-group">
    					  <a data-role="button" data-inline="true" data-theme="k" data-icon="grid" class="show-exercise">Exercise</a>
    					  <a data-role="button" data-inline="true" data-theme="k" data-icon="khan-share" class="share">Share</a>
    						<a data-role="button" data-inline="true" data-theme="k" data-icon="khan-download" class="save">Download</a>
						</div>
					</div>
					<div class="title-and-points">
					   <div class="title">
					       <h1>Khan Academy</h1>
					   </div>
					   <div class="energy-points-badge ui-corner-all">0 of 750</div>
					   <div style="clear:both;"></div>
			    </div>
					<div class="subtitles-area">
					    <p class="video-description"></p>
    					<div class="subtitles"></div>
					</div>
					<div class="subtitles-loading">Loading Subtitles...</div>
					<div class="subtitles-error">Whoops! There was an error loading subtitles for this video.</div>
					<div class="subtitles-none">No subtitles for this video. Sorry!</div>
				</div>
				<div class="below-video exercise-below">
					<div class="actions">
					    <div data-role="controlgroup" data-type="horizontal" class="video-button-group">
    					  <a data-role="button" data-inline="true" data-theme="k" data-icon="grid" class="show-hint">Hint</a>
    					  <!-- TODO: Re-enable when there's a drop-down display. -->
    					  <!--<a data-role="button" data-inline="true" data-theme="k" data-icon="grid" class="show-exercise">More Exercises</a>-->
    					  <a data-role="button" data-inline="true" data-theme="k" data-icon="khan-share" class="show-video">Back to Video</a>
						</div>
					</div>
					<div class="title-and-points">
					   <div class="title">
					       <h1>Khan Academy</h1>
					   </div>
					   <div style="clear:both;"></div>
			    	</div>
					<div class="exercise-frame-wrap single-exercise"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Template for constructing interactive subtitles. -->
	<script type="text/html" id="subtitles-tmpl">
		<%each sub in subtitles %>
			<% if ( sub.text ) { %>
				<div class="subtitle" data-time="<%= sub.start_time %>"><span class="time"><%= Math.floor(Math.round(sub.start_time) / 60) %>:<%= pad( Math.round(sub.start_time) % 60 ) %></span> <a href=""><%= sub.text %></a></div>
			<% } %>
		<% } %>
	</script>

	<!-- Template for constructing a listview of playlists. -->
	<script type="text/html" id="playlists-tmpl">
		<ul data-role="listview" class="ui-listview" id="playlists">
			<% each list in playlists %>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c">
				<div class="ui-btn-inner ui-li">
					<div class="ui-btn-text">
						<a href="#list-<%= list.youtube_id %>" class="ui-link-inherit">
							<h3 class="ui-li-heading"><%= list.title %></h3>
							<p class="ui-li-desc"><%= list.description %></p>
						</a>
					</div>
					<span class="ui-icon ui-icon-arrow-r"></span>
				</div>
			</li>
			<% } %>
		</ul>
	</script>

	<!-- Template for constructing a page (w/ listview) of videos. -->
	<script type="text/html" id="playlist-tmpl">
		<div data-role="page" id="list-<%= youtube_id %>" data-url="list-<%= youtube_id %>" class="playlist">
			<div data-role="header" data-theme="k">
				<h1><%= title %></h1>
			</div>

			<div data-role="content">	
				<ul data-role="listview" class="playlist">
					<% each video in videos %>
					<li class="ui-li-has-thumb ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c">
						<div class="ui-btn-inner ui-li">
							<div class="ui-btn-text">
								<img src="http://img.youtube.com/vi/<%= video.youtube_id %>/2.jpg" class="ui-li-thumb">
								<a href="#video-<%= video.youtube_id %>" class="ui-link-inherit" data-panel="main" data-transition="slideup">
									<h3 class="ui-li-heading"><%= video.title %></h3>
									<p class="ui-li-desc"><%= video.description %></p>
								</a>
							</div>
							<span class="ui-icon ui-icon-arrow-r"></span>
						</div>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</script>
</body>
</html>
